In [77]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler , OneHotEncoder , LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import seaborn as sns
import matplotlib.pyplot as plt

In [78]:
df= pd.read_csv("archive/winemag-data_first150k.csv")
df2= pd.read_csv("archive (7)/cleansingWine.csv")
df.head()

C:\Users\Lamia\AppData\Local\Temp\ipykernel_15236\950509147.py:2: DtypeWarning: Columns (8,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df2= pd.read_csv("archive (7)/cleansingWine.csv")

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [79]:
df2.head()

,Unnamed: 0,id,name,producer,nation,local1,local2,local3,local4,varieties1,...,use,abv,degree,sweet,acidity,body,tannin,price,year,ml
0,0,137197,Altair,Altair,Chile,Rapel Valley,NaN,NaN,NaN,Cabernet Sauvignon,...,Table,14~15,17~19,SWEET1,ACIDITY4,BODY5,TANNIN4,220000,2014,750
1,1,137198,"Altair, Sideral",Altair,Chile,Rapel Valley,NaN,NaN,NaN,Cabernet Sauvignon,...,Table,14~15,16~18,SWEET1,ACIDITY3,BODY4,TANNIN4,110000,2016,750
2,2,137199,Baron du Val Red,Baron du Val,France,NaN,NaN,NaN,NaN,Carignan,...,Table,11~12,15~17,SWEET2,ACIDITY3,BODY2,TANNIN2,0,0,750
3,3,137200,Baron du Val White,Baron du Val,France,NaN,NaN,NaN,NaN,Carignan,...,Table,11~12,9~11,SWEET1,ACIDITY3,BODY2,TANNIN1,0,0,750
4,4,137201,"Benziger, Cabernet Sauvignon",Benziger,USA,California,NaN,NaN,NaN,Cabernet Sauvignon,...,Table,13~14,17~19,SWEET1,ACIDITY3,BODY3,TANNIN4,0,2003,750

In [80]:
#On veut enlever les colonnes varietes 2 3 4 5 6 .....jusqu'à 12
columns_to_drop=[f'varieties{i}' for i in range (2,13)]
df2=df2.drop(columns=columns_to_drop)
df.drop("Unnamed: 0", axis=1, inplace=True)
df2.head()

,Unnamed: 0,id,name,producer,nation,local1,local2,local3,local4,varieties1,...,use,abv,degree,sweet,acidity,body,tannin,price,year,ml
0,0,137197,Altair,Altair,Chile,Rapel Valley,NaN,NaN,NaN,Cabernet Sauvignon,...,Table,14~15,17~19,SWEET1,ACIDITY4,BODY5,TANNIN4,220000,2014,750
1,1,137198,"Altair, Sideral",Altair,Chile,Rapel Valley,NaN,NaN,NaN,Cabernet Sauvignon,...,Table,14~15,16~18,SWEET1,ACIDITY3,BODY4,TANNIN4,110000,2016,750
2,2,137199,Baron du Val Red,Baron du Val,France,NaN,NaN,NaN,NaN,Carignan,...,Table,11~12,15~17,SWEET2,ACIDITY3,BODY2,TANNIN2,0,0,750
3,3,137200,Baron du Val White,Baron du Val,France,NaN,NaN,NaN,NaN,Carignan,...,Table,11~12,9~11,SWEET1,ACIDITY3,BODY2,TANNIN1,0,0,750
4,4,137201,"Benziger, Cabernet Sauvignon",Benziger,USA,California,NaN,NaN,NaN,Cabernet Sauvignon,...,Table,13~14,17~19,SWEET1,ACIDITY3,BODY3,TANNIN4,0,2003,750

In [81]:
taux_de_change=0.00074
df2["price_usd"]=round(df2["price"]*taux_de_change,2)
df2.head()

,Unnamed: 0,id,name,producer,nation,local1,local2,local3,local4,varieties1,...,abv,degree,sweet,acidity,body,tannin,price,year,ml,price_usd
0,0,137197,Altair,Altair,Chile,Rapel Valley,NaN,NaN,NaN,Cabernet Sauvignon,...,14~15,17~19,SWEET1,ACIDITY4,BODY5,TANNIN4,220000,2014,750,162.8
1,1,137198,"Altair, Sideral",Altair,Chile,Rapel Valley,NaN,NaN,NaN,Cabernet Sauvignon,...,14~15,16~18,SWEET1,ACIDITY3,BODY4,TANNIN4,110000,2016,750,81.4
2,2,137199,Baron du Val Red,Baron du Val,France,NaN,NaN,NaN,NaN,Carignan,...,11~12,15~17,SWEET2,ACIDITY3,BODY2,TANNIN2,0,0,750,0.0
3,3,137200,Baron du Val White,Baron du Val,France,NaN,NaN,NaN,NaN,Carignan,...,11~12,9~11,SWEET1,ACIDITY3,BODY2,TANNIN1,0,0,750,0.0
4,4,137201,"Benziger, Cabernet Sauvignon",Benziger,USA,California,NaN,NaN,NaN,Cabernet Sauvignon,...,13~14,17~19,SWEET1,ACIDITY3,BODY3,TANNIN4,0,2003,750,0.0

In [82]:
# enlever les sweet, acidity etc... from les données 
import re
def extraire_chiffres_apres_sweet(chaine):
    chiffres = re.findall(r'\d+', str(chaine))  # Trouver tous les chiffres
    try:
        return int(''.join(chiffres))
    except:
        return np.nan

df2['acidity'] = df2['acidity'].apply(extraire_chiffres_apres_sweet)
df2['body'] = df2['body'].apply(extraire_chiffres_apres_sweet)
df2['sweet'] = df2['sweet'].apply(extraire_chiffres_apres_sweet)
df2['tannin'] = df2['tannin'].apply(extraire_chiffres_apres_sweet)
df2.head()

,Unnamed: 0,id,name,producer,nation,local1,local2,local3,local4,varieties1,...,abv,degree,sweet,acidity,body,tannin,price,year,ml,price_usd
0,0,137197,Altair,Altair,Chile,Rapel Valley,NaN,NaN,NaN,Cabernet Sauvignon,...,14~15,17~19,1.0,4.0,5.0,4.0,220000,2014,750,162.8
1,1,137198,"Altair, Sideral",Altair,Chile,Rapel Valley,NaN,NaN,NaN,Cabernet Sauvignon,...,14~15,16~18,1.0,3.0,4.0,4.0,110000,2016,750,81.4
2,2,137199,Baron du Val Red,Baron du Val,France,NaN,NaN,NaN,NaN,Carignan,...,11~12,15~17,2.0,3.0,2.0,2.0,0,0,750,0.0
3,3,137200,Baron du Val White,Baron du Val,France,NaN,NaN,NaN,NaN,Carignan,...,11~12,9~11,1.0,3.0,2.0,1.0,0,0,750,0.0
4,4,137201,"Benziger, Cabernet Sauvignon",Benziger,USA,California,NaN,NaN,NaN,Cabernet Sauvignon,...,13~14,17~19,1.0,3.0,3.0,4.0,0,2003,750,0.0

In [96]:
#pour abv, on veut avoir la moyenne du range, pour cela on doit spliter ce qu'il y a entre ~
def get_abv_avg(x):
    try : 
        return np.mean([float(i) for i in x.split("~")])
    except: 
        return x

df2['abv'] = df2['abv'].apply(get_abv_avg)
df2


#SINON :    def extract_numbers(s):
    #if isinstance(s, str):
       # return [float(num) for num in re.findall(r'\d+\.\d+|\d+', s)]
   # elif isinstance(s, (int, float)):
      #  return [float(s)]
   # else:
       # return []
#df2['abv_clean']=df2['abv'].apply(extract_numbers)
#df2["abv_clean"]=df2["abv_clean"].apply(lambda x: sum(x)/len(x))

#df2

,Unnamed: 0,id,name,producer,nation,local1,local2,local3,local4,varieties1,...,degree,sweet,acidity,body,tannin,price,year,ml,price_usd,abv_clean
0,0,137197,Altair,Altair,Chile,Rapel Valley,NaN,NaN,NaN,Cabernet Sauvignon,...,17~19,1.0,4.0,5.0,4.0,220000,2014,750,162.80,14.5
1,1,137198,"Altair, Sideral",Altair,Chile,Rapel Valley,NaN,NaN,NaN,Cabernet Sauvignon,...,16~18,1.0,3.0,4.0,4.0,110000,2016,750,81.40,14.5
2,2,137199,Baron du Val Red,Baron du Val,France,NaN,NaN,NaN,NaN,Carignan,...,15~17,2.0,3.0,2.0,2.0,0,0,750,0.00,11.5
3,3,137200,Baron du Val White,Baron du Val,France,NaN,NaN,NaN,NaN,Carignan,...,9~11,1.0,3.0,2.0,1.0,0,0,750,0.00,11.5
4,4,137201,"Benziger, Cabernet Sauvignon",Benziger,USA,California,NaN,NaN,NaN,Cabernet Sauvignon,...,17~19,1.0,3.0,3.0,4.0,0,2003,750,0.00,13.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21600,21600,168703,"Besserat de Bellefon, Bleu Brut",Besserat de Bellefon,France,Champagne,NaN,NaN,NaN,Pinot Meunier,...,NaN,1.0,5.0,2.0,1.0,128000,0,750,94.72,NaN
21601,21601,168704,"Leopard’s Leap, Cuvee Brut",Leopards Leap,the Republic of South Africa,Coastal Region,Paarl,NaN,NaN,Chardonnay,...,6~8,1.0,5.0,2.0,1.0,40000,0,750,29.60,12.5
21602,21602,168705,"Leopard’s Leap, Chardonnay Pinot Noir",Leopards Leap,the Republic of South Africa,Western Cape,NaN,NaN,NaN,Chardonnay,...,10~12,1.0,3.0,2.0,1.0,40000,2020,750,29.60,12.5
21603,21603,168706,"Leopard’s Leap, Chardonnay",Leopards Leap,the Republic of South Africa,Coastal Region,Paarl,Wellington,NaN,Chardonnay,...,10~12,1.0,3.0,2.0,1.0,40000,2020,750,29.60,12.5
21604,21604,168707,"Leopard’s Leap, Culinaria Muscat",Leopards Leap,the Republic of South Africa,Breede River Valley,Robertson,NaN,NaN,Muscat,...,10~12,3.0,3.0,3.0,1.0,55000,2019,750,40.70,11.5

In [89]:
df2.groupby('varieties1')[["sweet","acidity", "body","tannin","abv"]].mean()

                sweet   acidity      body    tannin        abv
varieties1
Abouriou     1.000000  3.000000  2.000000  3.000000        NaN
Agiorgitiko  1.000000  3.000000  3.333333  3.000000  13.166667
Aglianico    1.218182  2.327273  4.472727  3.509091  13.524390
Airen        2.044444  3.066667  2.222222  1.000000  10.987179
Albana       1.000000  4.000000  2.000000  1.000000  13.000000
...               ...       ...       ...       ...        ...
Zelen        1.000000  3.333333  2.666667  1.000000  12.150000
Zibibbo      3.800000  2.000000  3.600000  1.000000  13.833333
Zinfandel    1.521277  2.622340  3.819149  2.856383  13.462230
Zweigelt     1.526316  3.421053  3.210526  2.368421  12.666667
mourvedre    1.027027  3.216216  3.837838  3.162162  13.963636

[352 rows x 5 columns]

In [94]:
import numpy as np

df_final=pd.merge(df, df2.groupby('varieties1')[["sweet","acidity", "body","tannin","abv"]].mean(),left_on='variety', right_on='varieties1', how='inner' )
df_final.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery,sweet,acidity,body,tannin,abv
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz,1.037997,3.271662,3.855114,3.660511,13.753443
1,US,"This blockbuster, powerhouse of a wine suggest...",Rainin Vineyard,95,325.0,California,Diamond Mountain District,Napa,Cabernet Sauvignon,Hall,1.037997,3.271662,3.855114,3.660511,13.753443
2,US,"Blended with 9% Malbec, 9% Cabernet Franc and ...",Estate Grown,90,60.0,California,Mount Veeder,Napa,Cabernet Sauvignon,Brandlin,1.037997,3.271662,3.855114,3.660511,13.753443
3,US,"The aromas of blue fruit, herbs and spice are ...",NaN,90,40.0,Washington,Red Mountain,Columbia Valley,Cabernet Sauvignon,Canvasback,1.037997,3.271662,3.855114,3.660511,13.753443
4,US,"A blend of Cabernet from Grand Ciel (31%), Cie...",Four Flags,90,69.0,Washington,Red Mountain,Columbia Valley,Cabernet Sauvignon,DeLille,1.037997,3.271662,3.855114,3.660511,13.753443

In [95]:
df_final.to_csv("wine_merge.csv", index=False)